
body {
    --white: #ffffff;
    --black: #303030;
    --black-extra-black: #101010;
    --real-black: #000000;
    --real-black-lighten: #4d4d4d;
    --gray: #6a6a6a;
    --purple: #8c3ba7;
    --red: #a73b3b;
    --green: #3ba799;
    --gray-extra-dark: #111111;
    --disabled: #555555;
    --left-light: #0d0d0d;
    --right-light: #282828;
    --gradient-1: #2a0a59;
    --gradient-2: #ff7b00;
    --background-popup: #e4e4e4;
    --primary-color: #000000;
    --primary-extra-light-color: #666
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33%;
    padding: 25px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
    padding-top: 20px;
}

.center {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.fill-white *, .fill-white {
    fill: var(--white)
}

.inner-color-black *, .inner-color-black {
    fill: var(--black)
}


body p, body h1, body h2, body h4, body h5, body h6, body ul, body li, body a, body input, body textarea, body select {
    color: var(--black)
}

.font-liquido {
    font-family: "liquido"
}

.font-liquido-h1 {
    font-family: "liquido";
    font-size: 20vw
}


.font-menu-item {
    font-family: "geo-bold";
    font-size: 6.5rem;
    line-height: 7rem;
    letter-spacing: 4px;
    font-weight: bold
}

.font-h3 {
    font-family: "medium";
    font-size: 4rem;
    line-height: 4.5rem
}

.font-h5 {
    font-family: "regular";
    font-size: 1.8rem;
    line-height: 2.8rem
}

.font-h5.bold {
    font-family: "medium"
}


.font-menu-medium {
    font-family: "medium";
    font-size: 4.8rem;
    line-height: 6.3rem
}

.menu-font {
    font-family: "regular";
    font-size: 11px;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: normal;
    text-transform: uppercase
}

.paragraph-font-title {
    font-family: "geo-bold";
    font-size: 6.5rem;
    line-height: 7rem;
    letter-spacing: 4px;
    font-weight: bold
}

.font-uppercase {
    text-transform: uppercase
}

.gray-font {
    color: var(--gray)
}

.gray-font:hover{
    color: lightgrey;
}

.font-color-white {
    color: var(--white)
}

.font-color-black {
    color: var(--real-black)
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html, button, input, select, textarea {
    font-family: sans-serif
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.5em;
    margin: .83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1em;
    margin: 1.33em 0
}

h5 {
    font-size: .83em;
    margin: 1.67em 0
}

h6 {
    font-size: .75em;
    margin: 2.33em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

blockquote {
    margin: 1em 40px
}

dfn {
    font-style: italic
}

mark {
    background: #ff0;
    color: #000
}

p, pre {
    margin: 1em 0
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: none
}

q:before, q:after {
    content: '';
    content: none
}

small {
    font-size: 75%
}

dl, menu, ol, ul {
    margin: 1em 0
}

dd {
    margin: 0 0 0 40px
}

menu, ol, ul {
    padding: 0 0 0 40px
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px
}

button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button, input {
    line-height: normal
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}

button[disabled], input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a:active, a:focus, input:focus, input:visited, input:active, input:hover, input:required, input:valid, input:invalid, textarea:focus, textarea:visited, textarea:active, textarea:hover, textarea:required, textarea:valid, textarea:invalid, select:focus, select:visited, select:active, select:hover, select:required, select:valid, select:invalid {
    outline: none !important
}

a {
    cursor: pointer;
    text-decoration: none
}

html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--black-extra-black)
}

a {
    text-decoration: none;
    color: black
}

textarea {
    resize: none
}

.blink-slow {
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s
}

.menu-container {
    position: relative;
    display: inline-block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center
}

.menu-container ul {
    padding: 0;
    clear: both;
    text-align: center
}

.menu-container ul .link-text {
    position: relative;
    display: inline-block
}

.menu-container ul li {
    position: relative;
    display: block;
    text-align: center;
    clear: both;
    transition: background .4s ease-in-out;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 17px
}

.menu-container ul li.disabled {
    color: var(--disabled)
}

.section-home {
    position: fixed;
    width: 100%;
    background-color: var(--black-extra-black)
}

.section-home .three-wp {
    z-index: 9997;
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    overflow: hidden
}

.section-home .navigate-circle-button-container {
    position: fixed;
    bottom: 19%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 3;
    width: 100px;
    transition: opacity 1s;
    opacity: 0
}

.section-home .navigate-circle-button-container .navigate-circle-button {
    position: relative;
    top: 6px;
    margin-bottom: 15px
}

.section-home .navigate-circle-button-container .navigate-circle-button .navigate-circle-button-guide {
    white-space: nowrap;
    text-align: center
}

.section-home .navigate-circle-button-container .svg-container {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: background-color .4s
}

.section-home .navigate-circle-button-container .svg-container svg {
    position: relative;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--white);
    width: 50px;
    height: 50px;
    transition: all .4s
}

.main-title-container {
    position: fixed;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
    pointer-events: none;
    text-align: center
}

.main-title-container.childpage-opened {
    position: absolute
}

.main-title-container p {
    opacity: 0;
    position: relative;
    text-transform: capitalize
}

.top-bar, .bottom-bar {
    position: fixed;
    display: block;
    width: 100%;
    left: 0;
    pointer-events: none;
    z-index: 5;
    padding: 0 5%;
    box-sizing: border-box;
    opacity: 0
}

.top-bar {
    top: 0;
    margin-top: 50px;
    height: 40px
}

.top-bar .logo-container, .top-bar .gems-container, .top-bar .right-container, .top-bar .special-capsule-container {
    pointer-events: auto
}

.top-bar .logo-container {
    padding: 5px
}

.top-bar .logo-container svg {
    position: relative;
    height: 20px;
    fill: var(--gray);
    transition: fill .5s
}

.top-bar .logo-container img {
    position: relative;
    height: 40px
}

.top-bar .gems-container, .top-bar .logo-container, .top-bar .hamburger-button {
    position: absolute;
    display: block
}

.top-bar .logo-container {
    left: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.top-bar .gems-container {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 5px
}

.top-bar .gems-container .gems-text {
    position: absolute;
    display: block;
    left: 0;
    bottom: -20px;
    opacity: 0;
    pointer-events: none
}

.top-bar .gems-container .gems-text p {
    white-space: nowrap
}

.top-bar .hamburger-button {
    right: 5%;
    top: 0
}

.top-bar .gems-wrapper {
    pointer-events: none
}

.top-bar .gems-wrapper .gem {
    display: block;
    width: 10px;
    height: 10px;
    float: left;
    background-color: var(--gray);
    margin: 0 3px;
    -webkit-transform: rotate(45deg) skew(10deg, 10deg);
    -ms-transform: rotate(45deg) skew(10deg, 10deg);
    transform: rotate(45deg) skew(10deg, 10deg);
    z-index: 2;
    transition: background .5s
}

.top-bar .gems-wrapper .gem .gem-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background .5s
}

.top-bar .hamburger-button {
    pointer-events: auto
}

.top-bar .hamburger-button .menu-text, .top-bar .hamburger-button .hamburger-menu {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px
}

.top-bar .hamburger-button .menu-text {
    transition: color .4s
}

.top-bar .hamburger-button .hamburger-menu {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 8px
}

.top-bar .hamburger-button .hamburger-menu .line {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 23px;
    height: 2px;
    background-color: var(--gray);
    transition: background .4s
}

.top-bar .hamburger-button .hamburger-menu .line-1 {
    margin-top: -6px
}

.top-bar .hamburger-button .hamburger-menu .line-3 {
    margin-top: 6px
}

.top-bar .hamburger-button svg {
    stroke: var(--gray);
    fill: var(--gray)
}

.top-bar .hamburger-button svg ellipse {
    stroke: var(--gray);
    stroke-width: 3px;
    fill: transparent !important
}

.bottom-bar {
    bottom: 0;
    padding-bottom: 60px
}

.bottom-bar .bottom-row {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 40px
}

.bottom-bar .change-color-container {
    position: relative;
    display: block;
    float: right;
    height: 100%;
    width: 35px;
    margin-right: -2px;
    pointer-events: auto;
    cursor: pointer
}

.bottom-bar .change-color-container .color-text {
    position: absolute;
    display: block;
    top: -8px;
    left: 50%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    pointer-events: none
}

.bottom-bar .change-color-container svg {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--gray);
    cursor: inherit;
    transition: -webkit-transform .8s;
    transition: transform .8s;
    transition: transform .8s, -webkit-transform .8s
}

.bottom-bar .change-color-container svg:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.bottom-bar .sound-container {
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    min-height: 20px
}

.bottom-bar .sound-container .svg-container {
    position: relative;
    float: left;
    top: 3px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin-right: 10px
}

.bottom-bar .sound-container .svg-container .stud {
    position: absolute;
    display: none;
    left: -100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: black;
    width: 100%;
    height: 1px;
    transition: left .2s
}

.bottom-bar .sound-container .svg-container svg {
    position: relative;
    width: 100%;
    height: 100%;
    fill: var(--gray)
}

.bottom-bar .sound-container p {
    position: relative;
    float: left;
    overflow: hidden
}

.bottom-bar .contact-form-container {
    position: relative;
    display: block;
    float: right
}

.bottom-bar .contact-form-container p, .bottom-bar .contact-form-container svg {
    position: relative;
    float: left;
    overflow: hidden
}

.bottom-bar .contact-form-container p {
    top: 3px
}

.bottom-bar .contact-form-container svg {
    width: 30px;
    height: 30px;
    fill: var(--gray);
    margin-left: 10px
}

.bottom-bar .social-network-icons {
    position: relative;
    float: right;
    margin-right: 30px
}

.bottom-bar .social-network-icons a {
    margin: 0
}

.bottom-bar .social-network-icons a svg {
    width: 19px;
    fill: var(--gray)
}


.bottom-bar .center-container, .bottom-bar .home-center-container {
    position: absolute;
    display: block;
    width: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none
}

.bottom-bar .center-container p, .bottom-bar .home-center-container p {
    text-align: center
}

.bottom-bar .special-capsule-container {
    position: relative;
    overflow: hidden;
    text-align: center;
    pointer-events: auto
}

.bottom-bar .special-capsule-container p, .bottom-bar .special-capsule-container img {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle
}

.bottom-bar .special-capsule-container p {
    margin-left: 4px
}

.bottom-bar .special-capsule-container img {
    width: 16px;
    height: 1.5rem;
    object-fit: contain
}

.homepage-awards-container {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 17%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: opacity 1s;
    width: 100%;
    text-align: center
}

.homepage-awards-container .homepage-container, .homepage-awards-container .home-awards-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 12%;
    max-width: 150px;
    text-align: center;
    opacity: 0
}

.homepage-awards-container .homepage-container svg, .homepage-awards-container .home-awards-container svg {
    fill: var(--white);
    transition: fill .4s;
    max-width: 100%;
    height: 35px
}

.homepage-awards-container .logo-awards {
    position: relative;
    display: block
}

.homepage-awards-container .homepage-container {
    margin-left: 50px;
    top: 15px
}

.homepage-awards-container .homepage-container svg {
    height: 35px
}

.homepage-awards-container .homepage-container svg path {
    stroke: white
}

.homepage-awards-container .home-awards-container {
    margin-right: 50px
}

.homepage-awards-container .home-awards-container .menu-font {
    white-space: nowrap
}

.homepage-awards-container .home-awards-container:last-child {
    margin-right: 0 !important
}

.popup-menu .child-element-content .x-button {
    position: fixed;
    top: 55px;
    right: 5%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    z-index: 10;
    transition: all .5s
}

x-button:hover{
    color: lightgrey;
}

.popup-menu .child-element-content .x-button .cross-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup-menu .child-element-content .x-button .cross-container .stick {
    position: absolute;
    height: 2px;
    top: 50%;
    background-color: var(--gray);
    left: 7px;
    width: 16px;
    transition: all .5s
}

.popup-menu .child-element-content .x-button .cross-container .stick.stick1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.popup-menu .child-element-content .x-button .cross-container .stick.stick2 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.popup-menu .child-element-content .x-button.white-color {
    border: 2px solid var(--black)
}

.popup-menu .child-element-content .x-button.white-color .cross-container .stick {
    background-color: var(--black)
}


cross-container:hover{
    color: white;
}


.child-elements {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: #e4e4e4;
    z-index: 1
}

.child-elements .child-element-content {
    position: relative;
    height: 100%;
    width: 100%
}

.child-elements .child-element-content .logo-container {
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 2
}

.child-elements .child-element-content .logo-container svg {
    position: relative;
    top: -3px;
    height: 16px;
    fill: var(--gray)
}

.child-elements .child-element-content .general-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

.child-elements .child-element-content .general-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.child-elements .child-element-content .contact-form-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}



.child-elements .child-element-content .popup-content-work-container {
    position: relative;
    display: block;
    width: 100%
}

.child-elements .child-element-content .popup-content-work-container .clients-container {
    width: 100%;
    margin: 50px 0
}

.child-elements .child-element-content .popup-content-work-container .clients-container .client {
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    width: 33.3333%
}

.child-elements .child-element-content .popup-content-work-container .clients-container .client .cls-1 {
    fill: var(--real-black)
}

.child-elements .child-element-content .popup-content-work-container .clients-container .client .cls-2 {
    fill: var(--real-black-lighten)
}

.child-elements .child-element-content .popup-content-work-container .award-item {
    position: relative;
    display: block;
    margin-bottom: 40px
}

.child-elements .child-element-content .popup-content-work-container .award-item .year, .child-elements .child-element-content .popup-content-work-container .award-item .awards-list {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.child-elements .child-element-content .popup-content-work-container .award-item .year {
    text-align: right;
    width: 27%;
    margin-right: 4%
}

.child-elements .child-element-content .popup-content-work-container .award-item .awards-list {
    width: 68%;
    margin-top: 30px
}

.child-elements .child-element-content .popup-content-work-container .award-item .awards-list .award {
    text-align: left;
    margin-bottom: 20px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content {
    position: relative
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .width-image, .child-elements .child-element-content .popup-content-work-container .child-body-content .video-container {
    position: relative;
    width: 80%;
    margin: 80px auto;
    text-align: center;
    max-width: 1200px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .width-image img {
    display: inline-block;
    max-width: 100%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .video-container video {
    display: inline-block;
    max-width: 100%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .video-container .video-mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    pointer-events: none
}

.child-elements .child-element-content .popup-content-work-container .child-body-content img.general-image {
    display: block;
    width: 70%;
    margin: 170px auto
}

.child-elements .child-element-content .popup-content-work-container .child-body-content img.contact-image {
    margin-bottom: 70px;
    margin-top: 140px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .first-element {
    margin-top: 0
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text {
    position: relative;
    display: block;
    margin: 0 auto 15% auto;
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .center-text-title {
    margin-bottom: 30px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .center-text-description {
    width: 45vw;
    margin: 0 auto
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .special-social {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    margin-top: 40px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .special-social p {
    position: relative;
    margin-bottom: 20px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .special-social a {
    position: relative;
    display: inline-block;
    margin: 0 40px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .center-text .special-social a svg {
    width: 67px;
    height: 67px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100vh
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .child-text {
    position: relative;
    display: block;
    top: 75%;
    margin-bottom: 100px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .title {
    margin-bottom: 40px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .desc {
    width: 52%;
    margin: 0 auto
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .title {
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .desc {
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .desc.short-description {
    width: 65%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container {
    position: relative;
    display: block
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item {
    position: relative;
    display: inline-block;
    margin: 25px 3%;
    vertical-align: top
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item p {
    text-align: center;
    margin-bottom: 8px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item .svg-award-container {
    height: 60px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item .svg-award-container svg {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
    max-height: 100%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item.column-award {
    width: 20%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text {
    width: 80%;
    margin: 0 auto;
    top: 33%;
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .title {
    width: 75%;
    margin-bottom: 130px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .title .font-block {
    display: block
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .desc {
    width: 50%
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .desc, .child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .title {
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .desc {
    width: 80%;
    margin: 0 auto
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .columns-container {
    margin-bottom: 0;
    margin-top: 150px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper {
    width: 80%;
    margin: 0 auto
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper .columns-item {
    margin: 0;
    width: 33%;
    padding: 0 2%;
    margin-right: -4px
}

.child-elements .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper .columns-item p {
    text-align: center
}

.child-elements .child-element-content.is-a-work .popup-content-work-container .child-body-content .child-text-container .child-text .center-text {
    margin: 20vh auto 100px auto
}

.child-elements .child-element-content.is-a-work .popup-content-work-container .child-body-content .child-text-container .desc {
    text-align: left;
    width: 60%
}

.child-elements .child-element-content.is-a-work .work-background-image-container {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh
}

.child-elements .child-element-content.is-a-work .work-background-image-container .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.child-elements .child-element-content.is-a-work .work-background-image-container .background-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, var(--background-popup) 100%)
}

.child-elements .child-element-content.is-a-work .stadistics-container {
    position: relative;
    display: block;
    margin: 140px auto 0 auto;
    text-align: center
}

.child-elements .child-element-content.is-a-work .stadistics-container .stadistic-item {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    padding: 0 60px
}

.child-elements .child-element-content.is-a-work .stadistics-container .stadistic-item .stadistic-number, .child-elements .child-element-content.is-a-work .stadistics-container .stadistic-item .stadistic-description {
    text-align: center
}

.child-elements.active {
    display: block
}

.popup-menu {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    background-color: var(--background-popup);
    z-index: 1
}

.popup-menu.black-background {
    background-color: var(--black-extra-black)
}

.popup-menu .background-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .1;
    text-align: center;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box
}

.popup-menu .child-element-content {
    position: relative;
    height: 100%;
    width: 100%
}

.popup-menu .child-element-content .logo-container {
    position: absolute;
    top: 60px;
    left: 100px;
    z-index: 2
}

.popup-menu .child-element-content .logo-container svg {
    position: relative;
    top: -3px;
    height: 16px;
    fill: var(--gray)
}

.popup-menu .child-element-content .general-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

.popup-menu .child-element-content .general-container p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup-menu .child-element-content .contact-form-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1
}

.popup-menu .child-element-content .popup-img {
    position: relative;
    display: block;
    width: 40vw
}

.popup-menu .child-element-content .popup-content-work-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden
}

.popup-menu .child-element-content .popup-content-work-container .clients-container {
    width: 100%;
    margin: 50px 0
}

.popup-menu .child-element-content .popup-content-work-container .clients-container .client {
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    width: 16.6666%
}

.popup-menu .child-element-content .popup-content-work-container .award-item {
    position: relative;
    display: block;
    margin-bottom: 40px
}

.popup-menu .child-element-content .popup-content-work-container .award-item .year, .popup-menu .child-element-content .popup-content-work-container .award-item .awards-list {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.popup-menu .child-element-content .popup-content-work-container .award-item .year {
    text-align: right;
    width: 27%;
    margin-right: 4%
}

.popup-menu .child-element-content .popup-content-work-container .award-item .awards-list {
    width: 68%
}

.popup-menu .child-element-content .popup-content-work-container .award-item .awards-list .award {
    text-align: left;
    margin-bottom: 20px
}


.popup-menu .child-element-content .popup-content-work-container .child-body-content {
    position: relative
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content img {
    display: block;
    width: 80%;
    margin: 80px auto
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content img.general-image {
    display: block;
    width: 70%;
    margin: 170px auto
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content img.contact-image {
    margin-bottom: 70px;
    margin-top: 140px
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .first-element {
    margin-top: 0
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 100vh
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .child-text {
    position: relative;
    display: block;
    top: 75%;
    margin-bottom: 25vh
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .title {
    margin-bottom: 40px
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .desc {
    width: 52%;
    margin: 0 auto
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .title, .popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .desc {
    text-align: center
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container {
    position: relative;
    display: block
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item {
    position: relative;
    display: inline-block;
    margin: 25px 5%;
    margin-right: calc(5% - 4px);
    vertical-align: top
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content .child-text-container .columns-container .columns-item p {
    text-align: center;
    margin-bottom: 8px
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text {
    width: 75%;
    margin: 0 auto;
    top: 33%
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .title {
    width: 75%;
    margin-bottom: 130px
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .title .font-block {
    display: block
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text.work-text-partners .desc {
    width: 50%
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .desc, .popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .title {
    text-align: left
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .desc {
    width: 80%;
    margin: 0
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .columns-container {
    margin-bottom: 0;
    margin-top: 110px
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper {
    text-align: left;
    width: 100%;
    margin: 0
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper .columns-item {
    margin-left: 0;
    margin-right: 10%
}

.popup-menu .child-element-content .popup-content-work-container .child-body-content.not-centered .child-text-container .columns-container .columns-wrapper .columns-item p {
    text-align: left
}

.popup-menu.active {
    display: block
}

.capsules-container, .audios-container, .credits-popup, .gems-popup, .contact-popup, .slider-main-title, .capsule-main-title {
    display: none
}

.capsule-floating-object img {
    display: none
}

.popup-menu .child-element-content .contact-form-container .background-text {
    display: none
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-img-container {
    display: block
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .left-column {
    text-align: right
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .right-column {
    text-align: left
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0;
    margin: .4vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image.width-5 {
    width: 11.7vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image.width-4 {
    width: 16.2vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image.width-3 {
    width: 33.9vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image.width-2 {
    width: 27.4vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-image.width-1 {
    width: 42vw
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-center-columns-container {
    position: relative;
    display: inline-block;
    width: 64vw;
    text-align: right
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-center-columns-container .grid-center-item {
    position: relative;
    display: inline-block;
    vertical-align: bottom
}

.child-elements .child-element-content .popup-content-work-container .child-body-content .grid-center-container .grid-center-columns-container.bottom .grid-center-item {
    vertical-align: top
}

.footer-popup {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px
}

.footer-popup .contact-info-container {
    position: relative;
    display: block
}

.footer-popup .contact-info-container a, .footer-popup .contact-info-container p, .footer-popup .contact-info-container label {
    display: inline-block;
    text-align: left;
    white-space: nowrap
}

.footer-popup .top-part {
    position: relative;
    width: 100%;
    margin-top: 85px;
    margin-bottom: 85px;
    display: inline-block;
    -webkit-transform: translateZ(0)
}

.footer-popup .top-part .content-wrapper {
    position: relative;
    display: block;
    padding-left: 25%
}

.footer-popup .top-part .contact-form-container, .footer-popup .top-part .subscription-box {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    vertical-align: top
}

.footer-popup .top-part .subscription-box {
    width: 30%
}

.footer-popup .top-part .contact-form-container {
    width: 40%
}

.footer-popup .top-part .contact-form-container p, .footer-popup .top-part .contact-form-container a {
    margin-bottom: 4px
}

.footer-popup .top-part .terms-phrase {
    position: absolute;
    top: 40%;
    left: -70px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: none
}

.footer-popup .top-part .social-network-icons {
    width: 32px;
    margin-left: 90px;
    margin-top: 0;
    display: inline-block;
    z-index: 2
}

.footer-popup .top-part .social-network-icons a {
    margin: 0
}

.footer-popup .top-part .social-network-icons a svg {
    width: 19px
}

.footer-popup .top-part .dev-phrase {
    position: absolute;
    top: 33%;
    right: -60px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: none;
    overflow: hidden
}

.footer-popup .top-part .dev-phrase .ruya-link {
    position: relative;
    pointer-events: auto
}

.footer-popup .top-part .dev-phrase .ruya-word {
    text-transform: uppercase
}

.footer-popup .top-part .dev-phrase, .footer-popup .top-part .terms-phrase {
    z-index: 2
}

.footer-popup .input-textbox-container {
    position: relative;
    display: block
}

.footer-popup .input-textbox-container input, .footer-popup .input-textbox-container .send-icon-container {
    position: relative;
    display: inline-block;
    margin-right: -4px
}

.footer-popup .input-textbox-container input {
    width: calc(100% - 30px)
}

.footer-popup .input-textbox-container .send-icon-container {
    width: 20px;
    margin-left: 10px;
    top: 6px
}

.footer-popup .input-textbox-container .send-icon-container .send-icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.footer-popup .input-textbox-container .input-textbox-instruction {
    position: absolute;
    left: 0;
    top: 40px;
    opacity: 0;
    pointer-events: none
}

.footer-popup .subscription-container {
    width: 200px
}

.footer-popup input {
    padding: 0 4px;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom: 1px solid var(--black)
}

.social-network-icons {
    position: relative;
    overflow: hidden
}

.social-network-icons .social-icon {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin: 0 5px
}

.social-network-icons .social-icon svg {
    width: 25px;
    height: 25px
}

.social-network-icons a svg {
    width: 25px;
    height: 25px
}

.wanna-talk-container {
    position: relative;
    display: block;
    margin-top: 140px;
    text-align: center
}

.wanna-talk-container .wanna-talk-content {
    position: relative;
    display: inline-block;
    overflow: hidden
}

.wanna-talk-container a, .wanna-talk-container p {
    display: inline-block
}

.olive-leaf-icon {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 100px
}

.olive-leaf-icon svg {
    position: relative;
    width: 200px;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.olive-leaf-icon p {
    display: inline-block;
    width: 150px;
    margin-top: 10px
}

.footer-container {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center
}


span:hover{
    color: lightgrey;
}

a:hover{
    color: lightgrey;
}

svg:hover{
    color: lightgrey;
}

.column1 {
    opacity: 0;
    float: left;
    width: 30%;
    padding: 10px;
}

.column2 {
    opacity: 0;
    float: left;
    width: 70%;
    padding: 10px;
}